include meerkathi/bin/meerkathi
recursive-include meerkathi/ *.py
recursive-include meerkathi/ *.yml
recursive-include meerkathi/data *.yml
recursive-include meerkathi/data *.txt
recursive-include meerkathi/data *.rfis
recursive-include meerkathi/data/meerkat_files/fields/ *.FITS
recursive-include meerkathi/data *.npy
recursive-include meerkathi/data *.lsm
recursive-include meerkathi/dispatch_crew *.py
recursive-include meerkathi/workers *.py
recursive-include meerkathi/scripts *.py *.html *.css *.js *.ipynb
