ruamel.yaml==0.15.22
numpy>=1.15.4
scipy>=0.19.1
pysolr>=3.4.0
progressbar2>=3.11.0
nbconvert>=5.3.1
aplpy>=1.1.1
matplotlib>=2.1.0
tornado>=4.0.0,<5.0.0
jupyter>=1.0.0
astroquery>=0.3.8
pykwalify>=1.6.0
yamlordereddictloader
astropy
git+https://github.com/SpheMakh/Stimela
