{% if general.title %}
  {% set title = general.title %}
{% else %}
  {% set title = getdata.dataid|join(" ") %}
{% endif %}
{% if general.prefix %}
  {% set suffix = " (" + general.prefix +")" %}
{% else %}
  {% set suffix = "" %}
{% endif %}
{% include 'detailed-final-report.ipynb' %}
